/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f9f9f9;
}

.header .inner {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.header h1 img {
    font-size: 0;
    max-width: 30%;
    filter: invert(100%);
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb i {
    position: absolute;
    top: 50px;
    right: 0;
}

.header .gnb>ul>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -40%);

    width: 1px;
    height: 12px;
    background: #999;
}

.header .gnb>ul>li:first-child::before {
    display: none
}

/* mainSlide */

.mainSlide .itm {
    position: relative;
    height: 700px;
}

.mainSlide .itm .inner {
    position: absolute;
    width: 1200px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainSlide .inner h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-indent: -4px;
}

.mainSlide .itm01 {
    background: url(../img/slide01.jpg) no-repeat center center/ cover;
}

.mainSlide .itm02 {
    background: url(../img/slide02.jpg) no-repeat center center/ cover;
}

.mainSlide .itm03 {
    background: url(../img/slide03.jpg) no-repeat center center/ cover;
}

.mainSlide .itm04 {
    background: url(../img/slide04.jpg) no-repeat center center/ cover;
}

.mainSlide .itm05 {
    background: url(../img/slide05.jpg) no-repeat center center/ cover;
}

.mainSlide .itm06 {
    background: url(../img/slide06.jpg) no-repeat center center/ cover;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;
    font-size: 0;

    width: 60px;
    height: 60px;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

/* .mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 50px;
    height: 5px;
    background: #f9f9f9;
    margin: 0 2px;
    border-radius: 50px;
} */

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #333;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

/* sub */

.subVisual {
    width: 1200px;
    margin: 0 auto;
}

.subVisual .inner h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 100px 0;
}

.subVisual .inner .image {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 1200px;
}

.subVisual .box {
    position: relative;
}

.subVisual .box:hover {
    opacity: 0.7;
}

.subVisual .box h4 {
    position: absolute;
    bottom: 200px;
    left: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2em;
}

.subVisual .box p {
    position: absolute;
    bottom: 150px;
    left: 40px;
    color: #fff;
}

/* footer */

footer {
    padding: 50px 0;
    text-align: center;
    background: #f9f9f9;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
    transform: translate(-1px, 0);
}

.footer .list .bold {
    font-weight: 500;
}

.footer address {
    font-size: 10px;
}