/* header */

.Wrap .header {
    line-height: 100px;
}

.Wrap .header .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.Wrap .header .flex {
    display: flex;
    flex-direction: row;
}

.Wrap .header h1 img {
    font-size: 0;
    max-width: 30%;
    filter: invert(100%);
}

.Wrap .header .gnb a {
    display: block;
}

.Wrap .header .gnb>ul {
    width: 500px;
    margin: 0 auto;
    gap: 30px
}

.Wrap .header .gnb>ul>li {}

.header .gnb>ul>li:hover ul {}

.Wrap .header .gnb i {
    position: absolute;
    top: 50px;
    right: 0;
}



/* mainSlide */

.mainSlide {
    height: 700px;
    margin: 0 auto;
}

.mainSlide .itm {
    position: relative;
    height: 700px;
}

.mainSlide .itm .inner {
    position: absolute;
    width: 1200px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainSlide .inner h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-indent: -4px;
}

.mainSlide .itm01 {
    background: url(../img/slide01.jpg) no-repeat center center/ cover;
}

.mainSlide .itm02 {
    background: url(../img/slide02.jpg) no-repeat center center/ cover;
}

.mainSlide .itm03 {
    background: url(../img/slide03.jpg) no-repeat center center/ cover;
}

.mainSlide .itm04 {
    background: url(../img/slide04.jpg) no-repeat center center/ cover;
}

.mainSlide .itm05 {
    background: url(../img/slide05.jpg) no-repeat center center/ cover;
}

.mainSlide .itm06 {
    background: url(../img/slide06.jpg) no-repeat center center/ cover;
}

.mainSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainSlide .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50px;
    margin: 0 3px;
    overflow: hidden;

    position: relative;
}

.mainSlide .slick-dots li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #333;
}

.mainSlide .slick-dots li.slick-active::after {
    width: 100%;
    transition: 2s;
}

/* .mainSlide .slick-dots li.slick-active {
    background: #f00;
} */

.mainSlide .slick-dots button {
    display: none;
}





/* footer */

footer {
    padding: 50px 0;
    text-align: center;
    background: #f9f9f9;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
    transform: translate(-1px, 0);
}

.footer .list .bold {
    font-weight: 500;
}

.footer address {
    font-size: 10px;
}